.upload-container {
    width: 50%;
    margin: 0 auto;
    text-align: center;
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  button {
    padding: 10px 20px;
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button:disabled {
    background-color: #ccc;
  }
  
  .response-message {
    margin-top: 20px;
    padding: 10px;
    background-color: #f4f4f4;

  }
  


  .data-container {
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
  }
  
  h2 {
    color: #4CAF50;
  }
  
  .field {
    font-weight: bold;
  }
  
  .text {
    white-space: pre-wrap;
    word-wrap: break-word;
    color: #333;
  }
  